html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Lato",sans-serif;
    padding: 0;
    margin: 0;
  }
  a:link{
    color:black;
    text-decoration:none;
  }
  a:hover{
    color:blue;
    text-decoration:none;
  }
  nav {
    background-color: yellow;
    color: white;
    padding: 20px 50px;
  }

  img.rounded-corners{
    border-radius:30px;
  }
  .csk{
    color:blue;
    font-size: 60px;
    text-shadow: 20px;
    text-align: start;
    
  }
  .navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
 
   .link {
    font-size: 20px;
    border-bottom: 2px yellow;
    cursor: pointer;
   
    
  }
  .menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: blue;
    font-weight: 400;
  }
  
  .navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  

  

  .slider {
    background: url("https://w0.peakpx.com/wallpaper/200/532/HD-wallpaper-black-plain.jpg");
    
    overflow: hidden;
  }
  
  .sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
  }
  
  .sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: center;
  }
 
  
  .sliderImg {
    z-index: 1;
    width:100%;
    height:100%;
    object-fit: contain;
  }
  

 
  
  .buyButton {
  
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: black;
    border: 1px black;
    background-color: yellow;
    z-index: 1;
    cursor: pointer;
  }
  
  .buyButton:hover {
    background-color: black;
    color: yellow;
  }
  
  .features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .featureIcon {
    width: 50px;
    height: 50px;
  }
  
  .featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
  }
  
  .featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
  }
  
  .product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    
  }
  label {
    font-size: 14px;
    font-weight: 300;
  }
  
 
  
 
  
  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
  }
  
  .productImg {
    width: 50%;
  }
  
  .productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
  }
  
  .productTitle {
    font-size: 75px;
    font-weight: 900;
  }
  
  .productDesc {
    font-style: 24px;
    color: gray;
  }
  
  .colors,
  .sizes {
    display: flex;
    margin-bottom: 20px;
  }
  
  .size {
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    color:black;
    background-color: yellow;

  }
  .size:hover{
    color:yellow;
    background-color: black;
  }

  
  .gallery {
    padding: 50px;
    display: flex;
  }
  
  .galleryItem {
    flex: 1;
    padding: 50px;
  }
  
  .galleryImg {
    width: 100%;
  }
  .galleryTitle{
    color: 2px solid black;
  }
  
  .newSeason {
    display: flex;
  }
  
  .nsItem {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .nsImg {
    width: 100%;
    height: 500px;
  }
  
  .nsTitle {
    font-size: 40px;
  }
  
  .nsButton {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
  footer {
    display: flex;
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .fMenuTitle {
    font-size: 16px;
    text-decoration: underline;
    text-align: justify;
    right: 20%;
    
  }
  
  .fList {
    padding: 0;
    list-style: none;
    color: gray;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fInput {
    padding: 5px;
  }
  
 
  .fButton {
  color: white;
  border: none;
  width: 100%;
  padding:5px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background-color:black;
  cursor: pointer;
  box-shadow:gray;
  transition: 0.25s all ease;
  &:hover {
    transform: translateY(2px);
  }
  }

 
    
 .fIcons{
  display: flex;
}

.fIcon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
  
  

 
  .copyright{
    font-weight: 300;
    font-size: 14px;
  }
  
  @media screen and (max-width:480px) {
    nav{
      padding: 20px;
    }
  
  
    .navBottom{
      flex-wrap: wrap;
    }
  
    .menuItem{
      margin: 20px;
      font-weight: 700;
      font-size: 20px;
    }
  
    .slider{
      clip-path: none;
    }
  
    .sliderImg{
      width: 90%;
    }
  
    .sliderBg{
      width: 100%;
      height: 100%;
    }
  
    .sliderTitle{
      display: none;
    }
  
  
    .buyButton{
      right: 0;
      top: 0;
    }
  
    .features{
      flex-direction: column;
    }
  
    .product{
      clip-path: none ;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .productImg{
      width: 80%;
    }
  
    .productDetails{
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      top: 0;
    }
  
    .productTitle{
      font-size: 50px;
      margin: 0;
    }
  
    .gallery{
      display: none;
    }
  
    .newSeason{
      flex-direction: column;
    }
  
    .nsItem:nth-child(2){
      padding: 50px;
    }
  
    footer{
      flex-direction: column;
      align-items: center;
    }
  
    .footerLeft{
      padding: 20px;
      width: 90%;
      color: gray;
    }
  
    .footerRight{
      padding: 20px;
      width: 90%;
      align-items: center;
      background-color: whitesmoke;
    }
  
   
   
  }